!!!
%html
  %head
    %title Image Sharer
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
%body
  %nav.navbar.navbar-inverse
    .container
      .navbar-brand= link_to "Image Sharer", root_path 
      
      - if user_signed_in?
        %ul.nav.navbar-nav.navbar-left 
          %li= link_to "Share It!", new_pic_path
          %li= link_to "Settings", edit_user_registration_path
          %li= link_to "Sign Out", destroy_user_session_path, method: :delete
      - else
        %ul.nav.navbar-nav.navbar-left 
          %li= link_to "Join", new_user_registration_path
          %li= link_to "Log In", new_user_session_path 
          %li= link_to "Register with Facebook", user_facebook_omniauth_authorize_path
  
  // -flash.each do |name, msg|
  //   =content_tag :div, msg, class: "alert alert-info"
  .container   
    %p.notice= notice
    %p.alert= alert  
    = yield 
      